In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from datetime import datetime

In [5]:
past_data = pd.read_excel('Past data.xlsx')

In [12]:
future_data = pd.read_excel("May future.xlsx")

In [8]:
past_data.head()

,Date,Avail Rms,OOO Rms,Rms Sold,Rms To Sell,Occ,Arr Rms,Arrivals (Non-Guaranteed),Arr Res,SO Rms,...,Trans Rm Rev,Trans ADR,Grp Pkup Rms,Grp Rm Rev,Grp ADR,Grp Rem,Room Revenue,ADR,RevPAR,Guests
0,02/26/2023 Sun,150,57,79,14,52.666667,69,2,68,10,...,8247.52,104.398987,0,0,0.00000,0,8247.52,104.398987,54.983467,129 / 4
1,02/27/2023 Mon,150,12,105,33,70.000000,83,24,83,22,...,10166.15,123.977439,23,3197,139.00000,0,13363.15,127.268095,89.087667,136 / 1
2,02/28/2023 Tue,150,2,147,1,98.000000,94,1,93,53,...,21251.83,170.014640,22,4378,199.00000,0,25629.83,174.352585,170.865533,208 / 4
3,03/01/2023 Wed,150,31,69,50,46.000000,48,6,48,21,...,7050.23,108.465077,4,625,156.25000,0,7675.23,111.235217,51.168200,95 / 0
4,03/02/2023 Thu,150,5,125,20,83.333333,90,30,89,35,...,17837.17,191.797527,32,4299,134.34375,0,22136.17,177.089360,147.574467,172 / 3

In [13]:
future_data.head()

,Date,Avail Rms,OOO Rms,Rms Sold,Rms To Sell,Occ,Arr Rms,Arrivals (Non-Guaranteed),Arr Res,SO Rms,...,Trans Rm Rev,Trans ADR,Grp Pkup Rms,Grp Rm Rev,Grp ADR,Grp Rem,Room Revenue,ADR,RevPAR,Guests
0,05/12/2023 Fri,150,1,112,37,74.666667,43,3,43,69,...,11586.15,399.522414,83,17687,213.096386,0,29273.15,261.367411,195.154333,178 / 2
1,05/13/2023 Sat,150,1,116,33,77.333333,13,0,13,103,...,11028.21,393.864643,88,18682,212.295455,0,29710.21,256.122500,198.068067,180 / 3
2,05/14/2023 Sun,150,1,16,133,10.666667,6,0,6,10,...,2000.84,125.052500,0,0,0.000000,0,2000.84,125.052500,13.338933,19 / 1
3,05/15/2023 Mon,150,1,32,117,21.333333,24,1,24,8,...,3778.36,118.073750,0,0,0.000000,0,3778.36,118.073750,25.189067,38 / 0
4,05/16/2023 Tue,150,1,50,99,33.333333,27,9,27,23,...,5760.03,140.488537,9,1071,119.000000,0,6831.03,136.620600,45.540200,61 / 0

In [14]:
def splitdate(x):
    spli = x.split(" ")
    return spli[0]

In [15]:
future_data['Date'] = future_data['Date'].apply(splitdate)
past_data['Date'] = past_data['Date'].apply(splitdate)

In [16]:
# data['Date'] = pd.to_datetime(data['Date'],format='%d%b%Y')
past_data.set_index('Date',inplace=True)
future_data.set_index('Date',inplace=True)

In [22]:
# data.drop('Room Revenue',axis=1,inplace=True)
past_data.drop('Guests',axis=1,inplace=True)
future_data.drop('Guests',axis=1,inplace=True)

In [62]:
past_data2 = past_data.drop(['Trans Rm Rev','Grp Rm Rev','Grp ADR','Trans ADR'],axis=1)
future_data2 = future_data.drop(['Trans Rm Rev','Grp Rm Rev','Grp ADR','Trans ADR'],axis=1)

In [41]:
past_data2.head()

,Avail Rms,OOO Rms,Rms Sold,Rms To Sell,Occ,Arr Rms,Arrivals (Non-Guaranteed),Arr Res,SO Rms,Deprt Rms,...,Day Use Rms,Wait List Rms,Trans Rms,Trans Rm Rev,Trans ADR,Grp Pkup Rms,Grp Rm Rev,Grp ADR,Grp Rem,Room Revenue
Date,,,,,,,,,,,,,,,,,,,,,
02/26/2023,150,57,79,14,52.666667,69,2,68,10,130,...,0,0,79,8247.52,104.398987,0,0,0.00000,0,8247.52
02/27/2023,150,12,105,33,70.000000,83,24,83,22,57,...,0,0,82,10166.15,123.977439,23,3197,139.00000,0,13363.15
02/28/2023,150,2,147,1,98.000000,94,1,93,53,52,...,0,0,125,21251.83,170.014640,22,4378,199.00000,0,25629.83
03/01/2023,150,31,69,50,46.000000,48,6,48,21,126,...,1,0,65,7050.23,108.465077,4,625,156.25000,0,7675.23
03/02/2023,150,5,125,20,83.333333,90,30,89,35,34,...,0,0,93,17837.17,191.797527,32,4299,134.34375,0,22136.17

In [63]:
X = past_data2.drop('Room Revenue',axis=1)
y = past_data2['Room Revenue']

In [ ]:
X = past_data.drop('Room Revenue',axis=1)
y = past_data['Room Revenue']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

In [65]:
model = LinearRegression()

In [66]:
model.fit(X_train,y_train)

LinearRegression()

In [67]:
ypred = model.predict(X_test)

In [69]:
print(ypred)

[47363.60193057 35240.066225   25510.47809024 74738.82910342
 10993.16906924 14334.4021625  74940.74896426 70651.16436953
 35242.42926211 42228.94726748 16437.85113711 21571.968996
 33892.21590419 27700.46517939 16649.50858683]

In [68]:
r2 = r2_score(y_test,ypred)
r2

-22.832948746225355

In [57]:
futureTest = future_data.drop('Room Revenue',axis=1)

In [70]:
futureTest2 = future_data2.drop('Room Revenue',axis=1)

In [72]:
occPrediction = model.predict(futureTest2)

In [73]:
for i in occPrediction:
    print(i)

26386.694032619263
16651.88696474817
-5099.7143993875725
-24734.626005222533
-9666.993284275268
1439.6674212911385
-4614.13647275183
-6225.590513279174

With just the occupancy forecast report, the model will just spit back the exact values and will not properly forecast.
could be mitigated with a report that shows pick ups of 30 day 10 day 5 day and 1 day.